<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>常规</string>
		<key>rows</key>
		<array>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>title</key>
				<string>自动开始播放视频</string>
				<key>targetKey</key>
				<string>AutoStartPlayKey</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>title</key>
				<string>保存播放记录</string>
				<key>targetKey</key>
				<string>SavePlayRecoderKey</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>title</key>
				<string>耳机插入时恢复播放</string>
				<key>targetKey</key>
				<string>ResumeWhenHeadphonesPluggedInKey</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>通知</string>
		<key>rows</key>
		<array>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>title</key>
				<string>网络改变显示通知</string>
				<key>targetKey</key>
				<string>ShowNetworkStatusChangeNoficationKey</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>style</key>
				<integer>0</integer>
				<key>title</key>
				<string>非WIFI网络播放显示警告</string>
				<key>targetKey</key>
				<string>ShowAlertWhenPlayViaWWANKey</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>当切换到全屏状态时</string>
		<key>rows</key>
		<array>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>title</key>
				<string>锁定屏幕旋转</string>
				<key>targetKey</key>
				<string>AutoLockScreenWhenFullScreenKey</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>2</integer>
				<key>title</key>
				<string>恢复播放视频</string>
				<key>targetKey</key>
				<string>AutoResumeWhenFullScreenKey</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>缓存管理</string>
		<key>rows</key>
		<array>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>selectEvent</key>
				<string>SE_CLEAR_CACHE</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
