<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>headerTitle</key>
		<string>设置</string>
		<key>rows</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>title</key>
				<string>主题设置</string>
				<key>image</key>
				<string>more_theme</string>
				<key>targetKey</key>
				<string>GP_ThemeSettingViewController</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>title</key>
				<string>更多设置</string>
				<key>image</key>
				<string>more_setting</string>
				<key>targetKey</key>
				<string>GP_SettingViewController</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>headerTitle</key>
		<string>其他</string>
		<key>rows</key>
		<array>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>title</key>
				<string>给我评分</string>
				<key>image</key>
				<string>more_score</string>
				<key>selectEvent</key>
				<string>SE_SCORE</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>title</key>
				<string>意见反馈</string>
				<key>image</key>
				<string>more_suggest</string>
				<key>targetKey</key>
				<string>GP_SuggestViewController</string>
			</dict>
			<dict>
				<key>type</key>
				<integer>1</integer>
				<key>title</key>
				<string>关于我们</string>
				<key>image</key>
				<string>more_about</string>
				<key>targetKey</key>
				<string>GP_AboutViewController</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
