<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>color</key>
		<string>#1abc9c</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>color</key>
		<string>#e5b887</string>
		<key>image</key>
		<string>theme1.jpg</string>
		<key>thumbnail</key>
		<string>theme1_thumbnail.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>color</key>
		<string>#e5b473</string>
		<key>image</key>
		<string>theme2.jpg</string>
		<key>thumbnail</key>
		<string>theme2_thumbnail.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>color</key>
		<string>#e85b51</string>
		<key>image</key>
		<string>theme3.jpg</string>
		<key>thumbnail</key>
		<string>theme3_thumbnail.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>color</key>
		<string>#e56a6c</string>
		<key>image</key>
		<string>theme4.jpg</string>
		<key>thumbnail</key>
		<string>theme4_thumbnail.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>color</key>
		<string>#e583b6</string>
		<key>image</key>
		<string>theme5.jpg</string>
		<key>thumbnail</key>
		<string>theme5_thumbnail.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>color</key>
		<string>#fe73a2</string>
		<key>image</key>
		<string>theme7.jpg</string>
		<key>thumbnail</key>
		<string>theme7_thumbnail.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>color</key>
		<string>#7e96e5</string>
		<key>image</key>
		<string>theme6.jpg</string>
		<key>thumbnail</key>
		<string>theme6_thumbnail.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>color</key>
		<string>#3cd2e5</string>
		<key>image</key>
		<string>theme8.jpg</string>
		<key>thumbnail</key>
		<string>theme8_thumbnail.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>color</key>
		<string>#67d5e5</string>
		<key>image</key>
		<string>theme9.jpg</string>
		<key>thumbnail</key>
		<string>theme9_thumbnail.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>color</key>
		<string>#86e532</string>
		<key>image</key>
		<string>theme10.jpg</string>
		<key>thumbnail</key>
		<string>theme10_thumbnail.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>color</key>
		<string>#65e5a5</string>
		<key>image</key>
		<string>theme11.jpg</string>
		<key>thumbnail</key>
		<string>theme11_thumbnail.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>color</key>
		<string>#9acc25</string>
		<key>image</key>
		<string>theme12.jpg</string>
		<key>thumbnail</key>
		<string>theme12_thumbnail.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>color</key>
		<string>#ecb117</string>
		<key>image</key>
		<string>theme13.jpg</string>
		<key>thumbnail</key>
		<string>theme13_thumbnail.jpg</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>14</integer>
		<key>color</key>
		<string>#f79908</string>
		<key>image</key>
		<string>theme14.jpg</string>
		<key>thumbnail</key>
		<string>theme14_thumbnail.jpg</string>
	</dict>
</array>
</plist>
